
# Configurações do banco de dados
POSTGRES_HOST=localhost
POSTGRES_USERNAME=user
POSTGRES_PASSWORD=password
POSTGRES_DB=database
POSTGRES_PORT=8432

# Porta do servidor de aplicação
SERVER_PORT=8080

# Ambiente de execução
ENVIRONMENT=dev

# Origens permitidas
ALLOWED_ORIGINS=http://localhost:3000

# Métodos permitidos
ALLOWED_METHODS=GET,POST,PUT,DELETE,OPTIONS

# Chave secreta do JWT
JWT_SECRET=secret

# Tempo de expiração do token de acesso (em milissegundos)
JWT_EXPIRATION_TIME_IN_MILLIS=3600000

# Tempo de expiração do token de atualização (em milissegundos)
JWT_REFRESH_EXPIRATION_TIME_IN_MILLIS=604800000